@tailwind components;
@tailwind utilities;

body, main{
	min-width:100vw;
	min-height: 100vh;
}

*{
	box-sizing: border-box!important;
}

#root{
	width:100vw;
	height: 100vh;
}
table{
	width:100%;
}
table td{
	white-space: nowrap;  /** added **/
}

.current-th{
	width:25%;
}

.currentRow:hover{
	border-width: thick;
	border-color:cornflowerblue;
}

.sticky{
	position: sticky;
	top:0;
}

table td:last-child{
	width:100%;
}

.current-group{
	max-height: 300px;
}

.report{
	max-height: 75vh;
}

.brand:hover {
	text-decoration: underline;
}

.table-sheet {
	border: 1px solid #B0CBEF;
	border-width: 1px 0px 0px 1px;
	font-size: 11pt;
	font-family: Calibri;
	font-weight: 100;
	border-spacing: 0px;
	border-collapse: collapse;
}

.table-sheet th {
	text-align: center;
	font-weight: normal;
	font-size: 14px;
	border: 1px solid #9EB6CE;
	border-width: 0px 1px 1px 0px;
}

.table-sheet td{
	padding-left: 3em!important;
	background-color: white;
	padding: 0px 4px 0px 2px;
	border: 1px solid #D0D7E5;
	border-width: 0px 1px 1px 0px;
}

button{
	background-color: rgb(2 132 199)!important;
}
.table-sheet td B {
	border: 0;
	background-color: white;
	font-weight: bold;
}

.table-sheet td.sub-heading {
	padding-left: 2em!important;
	font-weight:bold
}
.table-sheet td.heading {
	padding-left: 2em!important;
	font-weight:bold
}

.table-sheet td.sum{
	text-decoration:underline;
}

.table-sheet td.bad{
	color: red;
}



